h1{
	border-style: groove;
	box-shadow: 7px 7px 4px #00CED1;	
	color:violet;
	font-size:50px;
	background-color:#40E0D0;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid;
	padding: 6px;
	text-align: center;
	font-weight: italic;
	border-left: thick double violet;
	border-right: thick double violet;
	background: linear-gradient(#00aaff, #4d4dff, );
}
h2{
	color:#FFB6C1; 
	font-size:30px;
	background-color:#87CEFA;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid;
	padding: 6px;
	text-align: center;
	box-shadow: 7px 7px 4px #6495ED;
	text-overflow: ellopsis;
	font-weight: italic;
	text-decoration: underline;
	opacity: 10;
	background: linear-gradient(#ff99ff, #4d004d);

	
}
body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#FFB6C1; 
	text-shadow: 2px 2px #666666;
	background-image: url("https://secure.static.tumblr.com/2a0d60948e8e046fb0a9f55c22906fc4/uucpfip/Qrynufa5g/tumblr_static_tumblr_static_filename_640.gif");
	backround-position: center;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;	
}
p{



