h1{
	border-style: solid;
	box-shadow: 7px 7px 4px #00CED1;	
	color:violet;
	font-size:50px;
	background-color:#40E0D0;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid;
	padding: 6px;
	border-bottom-left-radius: 1em;	
	border: 2px solid;
	padding: 6px;
	border-bottom-right-radius: 1em;
	border: 2px solid;
	padding: 6px;
	border-top-left-radius: 1em;
	border: 2px solid;
	padding: 6px;
	border-top-right-radius: 1em;
	text-align: center;
	font-weight: italic;
	
	
}
h2{
	color:#FFB6C1; 
	font-size:30px;
	background-color:#87CEFA;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid;
	padding: 6px;
	border-bottom-left-radius: 1em;
	border: 2px solid;
	padding: 6px;
	border-bottom-right-radius: 1em;
	border: 2px solid;
	padding: 6px;
	border-top-left-radius: 1em;
	border: 2px solid;
	padding: 6px;
	border-top-right-radius: 1em;
	text-align: center;
	box-shadow: 7px 7px 4px #6495ED;

}
body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#FFB6C1; 
	text-shadow: 2px 2px #666666;
	background-image: url("https://secure.static.tumblr.com/2a0d60948e8e046fb0a9f55c22906fc4/uucpfip/Qrynufa5g/tumblr_static_tumblr_static_filename_640.gif");
	backround-position: center;
	text-align: center;
	border-style: solid;	
	box-shadow: 10px 10px 5px #9932CC;	
}



